/* Drawing Canvas */
.drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    touch-action: none;
    /* Prevent default touch behaviors */
}

.drawing-canvas.interactive {
    pointer-events: auto;
}

.drawing-canvas.readonly {
    pointer-events: none;
}